body {
    font-family: Roboto, "Noto Sans", Arial, sans-serif;
    font-size: 81.25%;
}

#space{
    width: 80em;
    display:inline-block;
}

#shortcut{
    display:inline-block;
    text-decoration:none;
    left:92%;
    position: relative;
}

.shortopt{
    text-decoration:none;
    padding: 30px 5px 0px 0px;
    color: rgb(82, 80, 80);
}

.shortopt:hover{
    text-decoration: underline;
}

#content {
    align-items:center;
    display:flex;
    flex-direction:column;
    padding-top:10em;
}

#logo{
    margin-bottom: 3em;
}

#input-wrapper{
   position: relative;
}

#input{
    border-radius: 25px;
    border:none;
    box-shadow: 0px 0px 10px lightgray;
    width: 35em;
    padding: 15px 44px 15px 52px;
    font-size:medium;
    position: relative;
}

textarea:focus, input:focus{
    outline: none;
}

#search-icon{
    height: 2em;
    position:absolute;
    margin-top: 10px;
    left: 0px;
    margin-left: 15px;
    filter: contrast(10%);
}

#container{
    display:grid;
    padding-top: 3em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.tile{
    text-decoration: none;
    padding: 10px 30px 20px 30px;
    align-items:center;
    color: black;
}

.tile:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.tile-icon{
    width:2em;
    height: 2em;
    background-color:hsl(0, 8%, 93%);
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
}
